################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release
/obj/Release
/.vs/BM.slnx/FileContentIndex
/.vs/BM.slnx/v18/.suo
/.vs/BM.slnx/v18/DocumentLayout.backup.json
/.vs/BM.slnx/v18/DocumentLayout.json
