<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmongUs.GameLibs.Android" version="2026.3.17" targetFramework="net472" />
  <package id="AmongUs.GameLibs.Steam" version="2026.3.31" targetFramework="net472" />
  <package id="BepInEx.Analyzers" version="1.0.8" targetFramework="net472" developmentDependency="true" />
  <package id="BepInEx.BaseLib" version="5.4.21" targetFramework="net472" />
  <package id="BepInEx.Core" version="5.4.21" targetFramework="net472" />
  <package id="BepInEx.PluginInfoProps" version="2.1.0" targetFramework="net472" />
  <package id="ExtensibleSaveFormat.HoneySelect2" version="19.4.0" targetFramework="net472" developmentDependency="true" />
  <package id="ExtensibleSaveFormat.Koikatu" version="21.1.2" targetFramework="net472" developmentDependency="true" />
  <package id="HarmonyX" version="2.7.0" targetFramework="net472" />
  <package id="IllusionLibs.AIGirl.UnityEngine.UIModule" version="2018.2.21.4" targetFramework="net472" />
  <package id="IllusionLibs.BepInEx" version="5.4.22" targetFramework="net472" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.9.0" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp" version="2020.5.29.5" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp-firstpass" version="2020.5.29.5" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.IL" version="2020.5.29.5" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.Sirenix.Serialization" version="2020.5.29.5" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UniRx" version="2020.5.29.5" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.Unity.TextMeshPro" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.CoreModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.ImageConversionModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.IMGUIModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UI" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UIModule" version="2018.4.11.4" targetFramework="net472" />
  <package id="IllusionLibs.Koikatu.Assembly-CSharp" version="2019.4.27.4" targetFramework="net472" />
  <package id="IllusionLibs.Koikatu.Assembly-CSharp-firstpass" version="2019.4.27.4" targetFramework="net472" />
  <package id="IllusionLibs.Koikatu.TextMeshPro" version="2019.4.27.4" targetFramework="net472" />
  <package id="IllusionLibs.Koikatu.UnityEngine" version="5.6.2.4" targetFramework="net472" />
  <package id="IllusionLibs.Koikatu.UnityEngine.UI" version="5.6.2.4" targetFramework="net472" />
  <package id="IllusionModdingAPI.HS2API" version="1.46.1" targetFramework="net472" />
  <package id="IllusionModdingAPI.KKAPI" version="1.46.1" targetFramework="net472" />
  <package id="KoikatuCompatibilityAnalyzer" version="1.1.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.25.0" targetFramework="net472" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="21.12.13.1" targetFramework="net472" />
  <package id="MonoMod.Utils" version="21.12.13.1" targetFramework="net472" />
  <package id="Unity.InputSystem" version="1.5.0" targetFramework="net472" />
  <package id="UnityEngine" version="5.6.1" targetFramework="net472" />
  <package id="UnityEngine.Modules" version="6000.4.4" targetFramework="net472" developmentDependency="true" />
</packages>